<form method="POST" action="">
    <div class="login">
    <div class="container-fluid">
                <h1>CitizenV</h1>
                <input type="text" placeholder="Code" name="username">
                <input id="password" type="password" placeholder="Password" name="password">
                <div class="sign-in">
                        <button type="submit">Sign In</button>
                </div>
                <div class="need-help">
                    <p>Need help? <a href="#">Call Supporter</a></p>
                </div>
    </div>
</div>
</form>

<style>
    *{
    box-sizing: border-box;
}
.login{
    background-color: rgba(192, 57, 43, 0.7);
}
.login img{
    max-width: 236px;
    max-height: 198px ;
}
.login{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    margin: 100px auto;
}
.login h1{
    margin: 0 0 20px 0;
}
.login input{
    width: 300px;
    height: 40px;
    margin: 0 50px 10px 50px ;
    border-radius: 15px;
    padding-left:10px;
}
.login button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    margin: 20px 0 5px 0;
    background-color: #C0392B;
}
button:hover{
    font-size: 15px;
}


</style>